:root {
  --cor-g0: #06090f;
  --cor-g1: #151b26;
  --cor-g2: #bfbfbf;
  --cor-w: #fff;
  --cor-p1: #00a3ff;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background: var(--cor-g0);
  color: white;
}

.btn {
  margin: 0 auto;
  display: inline-block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.77;
  padding: 8px 54px;
  background: var(--cor-g1);
  border-radius: 4px;
  transition: 0.4s;
}

.btn:hover {
  background: var(--cor-p1);
  color: var(--cor-g1);
}

.skeleton:empty {
  display: block;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  height: auto;
  -webkit-animation: animation-c7515d 1.5s ease-in-out 0.5s infinite;
  animation: animation-c7515d 1.5s ease-in-out 0.5s infinite;
}

.skeleton:empty:before {
  content: "\00a0";
}

.error {
  height: calc(100vh - 70px - 84px);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background: no-repeat url(../img/killua.jpg) rgba(6, 9, 15, 0.9);
  background-blend-mode: overlay;
  background-size: cover;
  position: relative;
  box-shadow: inset 0px 30px 30px var(--cor-g0), inset 0px -30px 30px var(--cor-g0);
}

.error h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 300px;
  color: var(--cor-p1);
  z-index: 2;
}

.error h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  color: var(--cor-w);
  z-index: 2;
  text-align: center;
}

@keyframes animation-c7515d {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

footer span {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.22;
  margin-bottom: 48px;
  color: var(--cor-g2);
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 40px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding: 20px;
  }

  footer span {
    font-size: 0.9rem;
  }
}
